@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
  --primary-color: #7c5dfa;
  --secondary-color: #ec5757;
  --background-color: #141625;
  --background-color-lighter: #1e2139;
  --text-color: #fff;
}

.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

body {
  font-family: 'League Spartan', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

#title {
  color: var(--primary-color);
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

input[type='text'],
input[type='number'] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
  background-color: var(--background-color-lighter);
  color: var(--text-color);
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
  background-color: var(--background-color-lighter);
  color: var(--text-color);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: var(--background-color-lighter);
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #7e88c3;
  color: var(--text-color);
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  background-color: var(--background-color-lighter);
}

h3 {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.showDetailsBtn {
  position: absolute;
  width: 8rem;
  height: 2rem;
  right: 30px;
  bottom: 10px;
  padding: 5px 8px;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-color);
  font: bold 1rem 'League Spartan', sans-serif;
}

.showDetailsBtn:hover {
  background-color: #9277ff;
}
